 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
.appImg{
  display: none;
  }
.logo {
    width: 90px;
}
.banner{
  height: auto;
      background-size: cover;
  }
  .banner-title {
    font-size: 35px;
  }
  .injury-text {
    margin-top: 15px;
  }
  #section2 .ul-list ul li {
    font-size: 18px;
    line-height: normal;
    padding: 10px 0px;
 }
 #section3{
  height: auto;
  background-size: cover;
 }
 #section3 p {
    font-size: 30px;
    line-height: 50px;
}
#section4 .ul-list2 ul li {
    font-size: 20px;
    line-height: normal;
    padding: 10px 0;
}
#section4 .key-title {
    font-size: 20px;
  }
#section4 .ul-list3 ul li {
    font-size: 15px;
    line-height: 36px;
  }
#section5 .hieght-303 {
    height: 50px;
  }
#section5 .learn-more {
    font-size: 25px;
  }
#section5 .pDiv1 {
  padding: 40px 10px 0px 15px;
}
#section5 .contact-div {
    position: absolute;
    right: 0;
    left: 0;
  }
#section5 .contact-submit{
  margin: auto;
  display: block;
}
footer {
    margin-top: 25%;
    height: auto;
  }
footer .social-menu {
    float: left;
  }
footer .mt-5, .my-5 {
    margin-top: 1rem!important;
    margin-bottom: 1rem;
}
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
/*.appImg{
  display: none;
  }*/
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
.logo {
    width: 120px;
}
.banner {
    background-image: url(../images/Home_bg 1.svg);
    background-repeat: no-repeat;
    height: 570px;
  }
.banner-title {
    font-size: 30px;
  }
.appImg{
  display: block;
  }
.appImg .img1 {
    position: absolute;
    top: -25px;
    left: -30px;
    width: 50%;
  }
.appImg .img2 {
    position: absolute;
    top: -5px;
    left: 220px;
    width: 50%;
  }
.appImg .img3 {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 50%;
  }
#section2 .ul-list{
  margin-top: 20px;
}
#section2 .ul-list ul li {
    color: #4A0E97;
    font-family: Roboto-Medium;
    font-size: 25px;
    line-height: 40px;
    padding: 10px 0px;
    width: 100%;
  }
#section3 {
   height: auto;
    padding: 5% 0;
  }
#section3 p {
    font-size: 40px;
    line-height: 61px;
  }
#section4 .ul-list2 ul li {
    font-family: Roboto-Medium;
    font-size: 20px;
    line-height: normal;
    color: #4A0E97;
    padding: 10px 0;
}
#section4 .key-title {
  font-size: 25px;
  }
#section4 .ul-list3 ul li {
    padding-left: 0em;
    color: #4A0E97;
    font-size: 22px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}